* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Navbar */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.logo {
    margin-left: 15px;
}

.logo > h1 {
    text-transform: uppercase;
    color: #FFF;
    font-size: 2.5rem;
}

.menu {
    height: 100%;
}

.menu > ul {
    display: flex;
    margin-right: 50px;
    height: 100%;
}

.menu-item {
    height: 100%;
}

.menu-item > a {
    color: #FFF;
    font-size: 1.5rem;
    display: block;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 0.2s;
}

.menu-item > a:hover {
    background-color: rgba(255, 255, 255, 0.7)
}

/* Content */
.container {
    background-color: #FFF;
}

.hero {
    height: 100vh;
    padding: 200px;
    background-image: url(bandung.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgb(141, 141, 141);
}

.hero-content {
    color: #FFF;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    font-size: 3.4rem;
    margin-bottom: 30px;
}

.hero-desc {
    font-size: 2rem;
    width: 600px;
    margin-bottom: 50px;
    line-height: 3rem;
}

.btn-about {
    cursor: pointer;
    width: 230px;
    padding: 12px;
    font-size: 2rem;
    color: #FFF;
    background-color: transparent;
    border: 3px solid #FFF;
    transition: all 0.2s;
}

.btn-about:hover {
    background-color: #ced6e0;
    border: 3px solid #ced6e0;
}

.about {
    height: 100vh;
    padding: 100px;
}

.about-content {
    background-color: #FFF;
    padding: 60px;
}

.about-title {
    font-size: 3.5rem;
    margin-bottom: 50px;
}

.profile {
    width: 600px;
    margin-bottom: 30px;
}

.about-name {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.about-desc {
    font-size: 2rem;
    line-height: 2.8rem;
    width: 800px;
}

.contact {
    height: 100vh;
    background-color: #192a56;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-content {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 900px;
}

.contact-content h1 {
    font-size: 3.5rem;
    margin-bottom: 40px;
}

input, textarea {
    margin-bottom: 30px;
}

input, textarea {
    font-size: 2rem;
    padding: 15px;
    border: 2px solid rgb(36, 36, 36);
}

textarea {
    height: 300px;
}


input:focus {
    outline: none;
}

.btn-send {
    padding: 18px;
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid rgb(36, 36, 36);
}

.btn-send:hover {
    border: 3px solid #192a56;
    background-color: #192a56;
    color: #FFF;
}




